<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Craftsy</title>
    <script src="https://kit.fontawesome.com/52f76aa58c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="home">
    <header class="home__header">
        <div class="home__header--logo">
            <img src="/img/logo.png" alt="">
        </div>
        <nav class="menu__navegacion">
            <div class="menu__navegacion--enlaces">
                <ul>
                    <li><a href="/smartphones">Smartphones</a></li>
                    <li><a href="/tablets">Tablets</a></li>
                    <li><a href="/computadoras">Computadoras</a></li>
                </ul>
            </div>
            <div class="menu__navegacion--login">
                <ul>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/registro">Registro</a></li>
                </ul>
            </div>
        </nav>
        <div class="menu__navegacion--bars">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>
    <main class="home__main">
        <div class="home__main__section">
            <article class="home__main__section__article">
                <img src="/img/img-phone-01.jpg" alt="Phone-1">
                <h3>Nombre del Producto</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae eaque provident facere sint,
                    adipisci quaerat, rem sequi perspiciatis in velit explicabo delectus qui, hic voluptatibus animi
                    praesentium eum aliquam eveniet?</p>
                <a href="#"><button>Ver más</button></a>
            </article>
            <article class="home__main__section__article">
                <img src="/img/img-phone-02.jpg" alt="Phone-1">
                <h3>Nombre del Producto</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae eaque provident facere sint,
                    adipisci quaerat, rem sequi perspiciatis in velit explicabo delectus qui, hic voluptatibus animi
                    praesentium eum aliquam eveniet?</p>
                <a href="#"><button>Ver más</button></a>
            </article>
            <article class="home__main__section__article">
                <img src="/img/img-phone-03.jpg" alt="Phone-1">
                <h3>Nombre del Producto</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae eaque provident facere sint,
                    adipisci quaerat, rem sequi perspiciatis in velit explicabo delectus qui, hic voluptatibus animi
                    praesentium eum aliquam eveniet?</p>
                    <a href="#"><button>Ver más</button></a>
            </article>
            <article class="home__main__section__article">
                <img src="/img/img-phone-01.jpg" alt="Phone-1">
                <h3>Nombre del Producto</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae eaque provident facere sint,
                    adipisci quaerat, rem sequi perspiciatis in velit explicabo delectus qui, hic voluptatibus animi
                    praesentium eum aliquam eveniet?</p>
                    <a href="#"><button>Ver más</button></a>
            </article>
            <article class="home__main__section__article">
                <img src="/img/img-phone-02.jpg" alt="Phone-1">
                <h3>Nombre del Producto</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae eaque provident facere sint,
                    adipisci quaerat, rem sequi perspiciatis in velit explicabo delectus qui, hic voluptatibus animi
                    praesentium eum aliquam eveniet?</p>
                    <a href="#"><button>Ver más</button></a>
            </article>
            <article class="home__main__section__article">
                <img src="/img/img-phone-03.jpg" alt="Phone-1">
                <h3>Nombre del Producto</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae eaque provident facere sint,
                    adipisci quaerat, rem sequi perspiciatis in velit explicabo delectus qui, hic voluptatibus animi
                    praesentium eum aliquam eveniet?</p>
                    <a href="#"><button>Ver más</button></a>
            </article>
        </div>
        <div class="home__main__section__article--aside--tutorial">
            <h2>Tutoriales</h2>
            <aside>
                <img src="/img/aside-01.jpg" alt="">
                <h4>Titulo del tutorial de reparación.</h4>
            </aside>
            <aside>
                <img src="/img/aside-02.jpg" alt="">
                <h4>Titulo del tutorial de reparación.</h4>
            </aside>
            <aside>
                <img src="/img/aside-03.jpg" alt="">
                <h4>Titulo del tutorial de reparación.</h4>
            </aside>
            <aside>
                <img src="/img/aside-04.jpg" alt="">
                <h4>Titulo del tutorial de reparación.</h4>
            </aside>
        </div>
        <div class="home__main__section__article--aside--publicidad">
            <h2>Publicidad</h2>
            <div class="imagen">
            <img src="/img/ad-01.jpg" alt="">
            <img src="/img/ad-02.jpg" alt="">
            </div>
        </div>
    </main>
    <footer class="home__footer">
        <h4>© 2023 Maxi Cartier - Todos los derechos reservados</h4>
    </footer>
</body>

</html>